# If you make changes run
#   ./update_requirements.sh

absl-py>=2.1.0
torch>=2.5.1
numpy
wandb>=0.19.2
# comet-ml
ray[default,data,train]==2.38.0
pandas  # needed by ray
pyarrow==16.1.0  # needed by ray; .so leaks in cluster... :(
markdown-it-py  # needed by ray[default]
mdit-py-plugins  # needed by ray[default]
torchmetrics
netifaces @ file:///mnt/nfs/home/gmi/prebuilt_wheels/netifaces-0.11.0-cp312-cp312-linux_x86_64.whl  # To generate: ./third_party/netifaces/make_wheel.sh
pyspark @ file:///mnt/nfs/home/gmi/prebuilt_wheels/pyspark-3.5.2-py2.py3-none-any.whl  # See ./third_party/pyspark/download_wheel.sh
raydp @ file:///mnt/nfs/home/gmi/prebuilt_wheels/raydp-1.7.0.dev0-py3-none-any.whl
tqdm
transformers>=4.47.1
trl>=0.13.0
lightning @ file:///mnt/nfs/home/gmi/prebuilt_wheels/lightning-2.4.0-py3-none-any.whl
# deepspeed @ file:///mnt/nfs/home/gmi/prebuilt_wheels/deepspeed-0.14.4+unknown-py3-none-any.whl  # To generate: ./third_party/deepspeed/make_wheel.sh
dictdiffer
certifi>=2024.07.04
pydantic
configobj>=5.0.8
flash-attn @ file:///mnt/nfs/home/gmi/prebuilt_wheels/flash_attn-2.7.3-cp312-cp312-linux_x86_64.whl  # To generate: ./third_party/flash-attention/make_wheel.sh
wheel  # needed to build flash-attn
packaging  # needed to build flash-attn
setuptools  # needed to build flash-attn
einsum  # needed to build flash-attn
ninja  # needed to build flash-attn
datasets>=2.20.0
lighteval[accelerate,vllm] @ file:///mnt/nfs/home/gmi/prebuilt_wheels/lighteval-0.6.2-py3-none-any.whl  # To generate: ./third_party/lighteval/patch_wheel.sh
rouge-score @ file:///mnt/nfs/home/gmi/prebuilt_wheels/rouge_score-0.1.2-py3-none-any.whl
accelerate>=0.33.0
langchain-core>=0.3.24
langchain-community>=0.3.11
pyowm>=3.3.0
langchain-huggingface>=0.1.2
langchain-experimental>=0.3.3
wrapt
openinference-instrumentation-langchain>=0.1.26
openinference-instrumentation>=0.1.12
ollama>=0.3.1
langchain-ollama>=0.2.1
jaxtyping>=0.2.33
gdown>=5.2.0
sentence-transformers>=3.0.1
pypdf>=4.3.1
pip
seaborn>=0.13.2
matplotlib>=3.9.2
dask[dataframe,distributed]==2024.9.1
scikit-learn>=1.5.1
faiss-cpu>=1.8.0.post1
faiss-gpu-cu12>=1.9.0.post1
google-benchmark @ file:///mnt/nfs/home/gmi/prebuilt_wheels/google_benchmark-1.9.0-cp312-abi3-linux_x86_64.whl  # To generate: ./third_party/google_benchmark/make_wheel.sh
vllm>=0.6.6.post1
opt-einsum>=3.3.0
spacy
skillNer @ file:///mnt/nfs/home/gmi/prebuilt_wheels/skillNer-1.0.3-py3-none-any.whl
IPython
mysql-connector-python>=9.1.0
beartype>=0.19.0
urwid-readline @ file:///mnt/nfs/home/gmi/prebuilt_wheels/urwid_readline-0.15-py3-none-any.whl  ## third_party/urwid_readline/make_wheel.sh. Needed for pudb.
pudb>=2024.1.2
triton>=3.1.0
ipywidgets>=8.1.5
pyjsparser @ file:///mnt/nfs/home/gmi/prebuilt_wheels/pyjsparser-2.7.1-py3-none-any.whl  # third_party/apache_beam/patch_wheel.sh
docopt @ file:///mnt/nfs/home/gmi/prebuilt_wheels/docopt-0.6.2-py2.py3-none-any.whl  # third_party/apache_beam/patch_wheel.sh
crcmod @ file:///mnt/nfs/home/gmi/prebuilt_wheels/crcmod-1.7-py2.py3-none-any.whl  # third_party/apache_beam/patch_wheel.sh
hdfs @ file:///mnt/nfs/home/gmi/prebuilt_wheels/hdfs-2.7.0-py3-none-any.whl  # third_party/apache_beam/patch_wheel.sh
apache_beam[dask] @ file:///mnt/nfs/home/gmi/prebuilt_wheels/apache_beam-2.61.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl  # third_party/apache_beam/patch_wheel.sh
rustworkx>=0.15.1
graphviz>=0.20.3
bazel-runfiles>=0.36.0
langchain_milvus>=0.1.5
tensorflow-cpu
tensorflow_hub
nltk>=3.9.1
pymilvus>=2.5.3
pymilvus[model]>=2.5.3
huggingface-hub>=0.26.1
aim>=3.25.0
aim-ui @ file:///mnt/nfs/home/gmi/prebuilt_wheels/aim_ui-3.25.0-py3-none-any.whl
smart-open[s3]
boto3
dask-kubernetes
watchdog>=6.0.0
psycopg2-binary==2.9.10
peft>=0.14.0
bitsandbytes>=0.45.0
calflops>=0.3.2
sympy
tokenizerchanger>=0.3.5
langchainhub==0.1.21
requests==2.32.3
kubernetes>=31.0.0
py7zr>=0.22.0
slack-sdk>=3.33.5
colorama>=0.4.6
langgraph>=0.2.59
onnxscript>=0.1.0.dev20241217
pydantic[email]
mysql-replication @ file:///mnt/nfs/home/gmi/prebuilt_wheels/mysql_replication-1.0.9-py3-none-any.whl
word2number @ file:///mnt/nfs/home/gmi/prebuilt_wheels/word2number-1.1-py3-none-any.whl
sqlitedict @ file:///mnt/nfs/home/gmi/prebuilt_wheels/sqlitedict-2.1.0-py3-none-any.whl
datasize==0.3  # No wheel for 1.0.0
xformers
omegaconf==2.4.0.dev3
blobfile
tiktoken
fsspec
viztracer
orjson
datatrove
scipy
sacrebleu
lm_eval
sentencepiece
msgspec
pynvml
stem @ file:///mnt/nfs/home/gmi/prebuilt_wheels/stem-1.8.2-py3-none-any.whl  # third_party/stem/make_wheel.sh
requests-tor>=1.4
fastparquet==2024.11.0
# renumics-spotlight>=1.6.13
causal_conv1d @ file:///mnt/nfs/home/gmi/prebuilt_wheels/causal_conv1d-1.5.0.post8-cp312-cp312-linux_x86_64.whl